# Eagle PCB backup files
*.s#*
*.b#*

# KiCAD backup, cache and local project setting files
*.bak
*-bak
*-cache
*-cache.lib
*.kicad_prl
**/*-backups/*


# Microsoft temporary files
~*.docx
~*.xlsx
*.tmp
